/* Estilos personalizados para tornar o site mais responsivo */
body {
    background-color: #212529;
    color: #fff
}

table tbody tr td {
    align-content: center;
}

@media (max-width: 768px) {


    table tr {
        margin-bottom: 15px;
    }

    table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}